/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
}

/* STYLE TEXT */

h1 {
  color: white;
  text-align: center;
  background-color: black;
  opacity: 0.9;
  padding: 1.4em;
  margin: -0.5em;
  font-family: 'Roboto', sans-serif;
}


p {
  margin: 1em;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-right: 35%;
  margin-left: 35%;
  padding: 2em;
}

@media screen and (max-height: 850px) {
  p {padding-top: 15px;
    margin-right: 20%;
    margin-left: 20%;}
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

/* STYLE IMAGES */

/* STYLE NAV BAR */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



span {
  margin: 40px;
  cursor: pointer;
  padding: 10px; 
  position:relative; 
  left:25px; 
  top:-58px;
}


/* STYLE BUTTONS */
#info, #help, #facts, #overturning, #biden, #letter, #generate{
  padding: 1em;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

#info {
  background-color: transparent;
  border-color: white;
  border-style: solid;
  color: white;
}

#info:hover {
  background-color: white;
  color: black;
}

#help {
  background-color: white;
  border-color: white;
  border-style: solid;
}

#help:hover {
  background-color: grey;
  color: white;
  border-color: grey;
}

#facts {
  display: block;
  margin: 0 auto;
  background-color: white;
  border-color: white;
  border-style: solid;
}

#facts:hover {
  background-color: grey;
  color: white;
  border-color: grey;
}

#overturning {
  display: block;
  margin: 0 auto;
  background-color: white;
  border-color: white;
  border-style: solid;
}

#overturning:hover {
  background-color: grey;
  color: white;
  border-color: grey;
}

#biden {
   display: block;
  margin: 0 auto;
  background-color: white;
  border-color: white;
  border-style: solid;
  margin-bottom: 30px
}

#biden:hover {
  background-color: grey;
  color: white;
  border-color: grey;
}

#letter {
  display: block;
  margin: 0 auto;
  background-color: white;
  border-color: white;
  border-style: solid;
}

#letter:hover {
  background-color: grey;
  color: white;
  border-color: grey;
}

#generate {
  display: block;
  margin: 0 auto;
  background-color: white;
  border-color: white;
  border-style: solid;
}

#generate:hover {
    background-color: grey;
  color: white;
  border-color: grey;
}

/* ADD MORE! */
